.container-todo-item {
  justify-content: flex-start;
  width: 35rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  margin: auto;
}

.container-todo-item:hover {
  border: 1px solid black;
}

.todo-description {
  margin-bottom: 0px;
  padding-left: 0px;
}

.page-title {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.btn-edit{
  justify-content: flex-start;
}

.btn-delete{
  justify-content: flex-start;

}
