.container-form {
  border: none;
  text-align: center;
  margin: auto;
  color: white;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}

.input-todo {
  width: 20rem;
  color: black;
}

.todo-btn-container,
.container-form {
  width: 35rem;
}

.btn-todo {
  
}

/* .input-todo:focus {
  outline: none;
} */

body{
  /* background-image: url(reuben-clay-gay-wedding-41.jpg);
background-repeat: no-repeat;
background-size: 100%; */
}

.add-item{
  justify-content: flex-start;
}
.input-group{
  display: inline-block;
}