.container-form {
  border: none;
  text-align: center;
  margin-top: 3px;
  color: black;
  
  font-family: 'Montserrat', sans-serif;

}

.input-todo {
  width: 20rem;
  color: black;
  font-size: 20px;
}

.todo-btn-container,
.container-form {
  width: 35rem;
}

.btn-todo {
  
}

/* .input-todo:focus {
  outline: none;
} */




.add-item{
  justify-content: flex-start;
}
.input-group{
  display: inline-block;
}

