.container-todo {
  margin-top: 19rem;
  margin-left: 2rem;
}

.todo-title {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  padding-top: 80px;
}

.todo-content {
  font-weight: 400;
  margin-bottom: 1rem;
}
/* .one .two {
} */
.one {
  display: flex;
}
.two {
  width: 35rem;
  margin-left: 10rem;
}
