.container-todo {
  color: black;
  background-size: 90%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-top: 3px;
}





.todo-content {
  font-weight: 400;
  margin-bottom: 1rem;
}
/* .one .two {
} */
.one {
  display: flex;
}
.two {
  width: 35rem;
  margin-left: 10rem;
}
