.registry-items-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.registry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 20rem;
  max-width: 20rem;
  width: 100%;
  padding: 2vw;
  margin: 1vw;
  border: black solid 1px;
}

.registry-card .registry-img {
  max-width: 255px;
  max-height: 70px;
}

.btn-store {
  margin-top: 5rem;
  font-size: 0.8rem;
  color: #e96150;
  border: solid #e96150 0.05rem;
  border-radius: 12px;
  width: 10rem;
}
