

.guest-list-description {
  margin-top: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
}
.whole-guest-container{
  background-size: 100%;
}

.guest-list-form {
  display: flex;
}

.guest-list-display {
  margin-left: 10rem;
}

.guest-list-title{
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  padding-top: 120px;
}

