.guest-card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.7rem 0;
  width: 30rem;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: #003699;
}
.guest-list {
  list-style-type: none;
  padding-left: 0;
}

.badge {
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
  border-radius: 6px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: #003699;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: #28a745;
  color: #fff;
}

.btn-warning,
.bg-warning,
.badge-warning,
.alert-warning {
  background: #ffc107;
  color: #fff;
}

.button-container {
  text-align: center;
}
