.guest-list-container {
  margin-top: 10rem;
}

.guest-list-description {
  margin-top: 2rem;
  text-align: center;
}

.guest-list-form {
  display: flex;
}

.guest-list-display {
  margin-left: 10rem;
}
