/* Global Styles */
/* :root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
} */

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: #003699;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
  border-radius: 5px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: #003699;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: #28a745;
  color: #fff;
}
