.carouselBackground {
    position: relative;
    background-color:#e91e63;
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 0px;
    padding: 0px;
}

.carouselContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff
}

.answer{
    border-radius: 0px;
    background-color: transparent;
    border: 0px solid;
    border-bottom: 1px solid #ffffff;
    color: #ffffff
}

select, textarea{
    color: #ffffff;
}

.title-font {
    font-family: "montserrat"
}
.content-font {
    font-family: "Roboto, sans-serif"
}


/* .carousel-item.active {
    display:block;
} */