nav {
  text-align:center;
  width: 100%;
  /* background: #bebebe; */
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
  background: #FFFFFF;
  /* opacity:0.8; */
}
  
nav ul {
  /* background: #bebebe; */
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;
}
  
nav ul .mainLi {
  /* display: inline-block; */
  width: 180px;
}
  
nav ul li .mainMenu {
  color:#131212;
  font-size: 14px;
  display:block;
  padding:0px 10px;
  text-decoration:none;
  /* float: left; */
  height: 60px;
  line-height: 60px;
  /* text-align: left */
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}
  
/* nav ul li:hover {
  background: #333333;
} */
  
nav ul li:hover > a{
  color:#e91e63;
}
  
nav ul li:hover > ul {
  display:block;
}
  
nav ul ul {
  background: #FFFFFF;
  /* opacity:0.9; */
  padding:0;
  text-align: center;
  display:none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
  height: auto;
}

nav > ul {
  padding: 0px;
}

.subMenuContainer {
  padding-bottom: 20px;
}

.subMenu {
  float: left;
}

.subMenu1 {
  margin-left: 140px;
}

.subMenu > li {
  font-size: 13px;
  /* text-align: left; */
  width: 180px;
  padding: 3px 10px;
}

.subMenu li a {
  text-decoration:none;
  color: #131212;
  /* font-family: 'Montserrat', sans-serif; */

}

.joinMenuContainer {
  width: auto;
}
.joinMenu {
  font-size: 13px;
  padding: 0px 3px;
  text-decoration:none;
  /* float: left; */
  /* height: 60px; */
  line-height: 60px;
  /* font-weight: bold; */
  font-family: 'Montserrat', sans-serif;
}
.black-text{
  color:#131212;
}

/* .navbar-toggler-icon,
.navbar-toggler {
  color:"#e91e63";
  background-color: #e91e63;
} */





  