/* regisstry */

#registry {
  font-family: 'Montserrat';
  height: 700px;
  background-image: url("./img/background4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* details */

.details {
  font-family: 'Montserrat';
  height: 300px;
  background-image: url("./img/background6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 5px;
}

#date1{
  font-size: 45px;
}

#date2 {
  font-size: 22px;
  font-family: 'Montserrat'
}

#location1 {
  font-size: 22px;
  font-family: 'Montserrat'
}


#location, #date {
  font-family: 'Montserrat';
  font-size: 25px;
}

#location {
  width: 500px;
}

#date1 {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}