#header {
  background-image: url("headersample.jpeg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }


.display-4 {
  font-family: 'montserrat';
  font-size: 35px;
}

#name1, #name2 {
  font-size:80px;
  margin: 20px;
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}