.nav {
  height: 40px;
  font-size: 17px;
  padding: 0px 0;
  background:   #eefaef;
  font-family: 'montserrat';background-image: url("./img/background4.jpg")
}
.logo {
  /* background:#f0f0f0; */
  font-size: 20px;
  font-family: 'montserrat';
  margin-top: 10px;
}