.nav {
  height: 45px;
  font-size: 20px;
  padding: 0px 0;
  background:   #eefaef;
  font-family: 'Handlee';
}
.logo {
  /* background:#f0f0f0; */
  font-size: 20px;
  font-family: 'Bubblegum Sans';
  margin-top: 10px;
}