.event-form-container {
  margin-left: 5rem;
  background-image: url(notebook.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.event-form-venue,
.event-form-description,
.event-form-date,
.event-form-time {
  width: 20rem;
  color:black;
  padding-left: 7px;
  background-color: rgb(233, 222, 222);
  
}

.event-btn-container {
  text-align: center;
}

.btn-event-form{
  color: black;
  background-color: rgb(233, 222, 222);
}

.enterevent{
  color: black;
  background-size: 90%;
  background-repeat: no-repeat;
}

