.event-card {
  padding: 1rem;
  /* border: #ccc 1px solid; */
  margin-left: 120px;
  margin-top: 60px;
  width: 35rem;
}

.event-item-btn-container {
  text-align: right;
  float: left;
  
}

.btn{
  color: black;
  background-color: rgb(233, 222, 222);
}



