.event-card {
  padding: 1rem;
  margin: 0.7rem 0;
  width: 27rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color:black;
  padding-left: 80px;
}

.event-item-btn-container {
  text-align: right;
  float: left;
  
}

/* .btn{
  color: black;
  background-color: rgb(233, 222, 222);
} */



