nav {
  text-align:center;
  width: 100%;
  /* background: #bebebe; */
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
  background: #FFFFFF;
  /* opacity:0.8; */
}
  
nav ul {
  /* background: #bebebe; */
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;
}
  
nav ul li {
  /* display: inline-block; */
  width: 160px;
}
  
nav ul li .mainMenu {
  color:#9e9e9e;
  font-size: 15px;
  display:block;
  padding:0px 10px;
  text-decoration:none;
  /* float: left; */
  height: 60px;
  line-height: 60px;
  /* text-align: left */
}
  
/* nav ul li:hover {
  background: #333333;
} */
  
nav ul li:hover > a{
  color:#e91e63;
}
  
nav ul li:hover > ul {
  display:block;
}
  
nav ul ul {
  background: #FFFFFF;
  /* opacity:0.9; */
  padding:0;
  text-align: center;
  display:none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
  height: auto;
}

nav > ul {
  padding: 0px;
}

.subMenuContainer {
  padding-bottom: 20px;
}

.subMenu {
  float: left;
}

.subMenu1 {
  margin-left: 125px;
}

.subMenu > li {
  font-size: 13px;
  /* text-align: left; */
  width: 160px;
  padding: 3px 10px;
}

.subMenu li a {
  text-decoration:none;
  color: #9e9e9e;
}

.joinMenu {
  font-size: 13px;
  padding:0px 3px;
  text-decoration:none;
  /* float: left; */
  height: 60px;
  line-height: 60px;
}

  