nav {
    text-align:center;
    width: 100%;
    /* background: #bebebe; */
    padding: 0;
    margin: 0;
    height: 60px;
    position:relative;
}
  
nav ul {
    /* background: #bebebe; */
    list-style:none;
    padding:0 20px;
    margin: 0;
    height: 60px;
}
  
  
nav ul li {
    display: inline-block;
}
  
  
nav ul li a {
    color:#9e9e9e;
    font-size: 15px;
    display:block;
    padding:0px 10px;
    text-decoration:none;
    float: left;
    height: 60px;
     line-height: 60px;
}
  
  /* nav ul li:hover {
    background: #333333;
  } */
  
  
  nav ul li:hover > a{
      color:#e91e63;
  }
  
  nav ul li:hover > ul {
    display:block;
  }
  
  nav ul ul {
    background: #FFFFFF;
    padding:0;
    text-align: center;
    display:none;
      width: 100%;
    position: absolute;
    top: 60px;
    left: 0px;
  }
  